Wx.Web.Core/bin/
Wx.Web.Core/obj/Debug/
Wx.WEB/obj/Debug/
Wx.Task/obj/Debug/
Wx.WEB/bin/
Wx.Dtos/bin/Debug/
Wx.Dtos/obj/
Wx.Utility/obj/
Wx.Utility/bin/
Wx.Task/bin/ 
Wx.Task/bin/Debug/
Wx.WEB/log/
*.orig
.vs/
tmp/
*.v12.suo
*.user
packages/