Wx.Web.Core/bin/
Wx.Web.Core/obj/
Wx.WEB/obj/
Wx.Task/obj/
Wx.WEB/bin/
Wx.Dtos/bin/
Wx.Dtos/obj/
Wx.Utility/obj/
Wx.Utility/bin/
Wx.Task/bin/ 
Wx.Task/bin/
Wx.WEB/log/
WeChat.Dtos/bin/
WeChat.Dtos/obj/
*.orig
.vs/
tmp/
*.v12.suo
*.user
packages/
*.pubxml
*.dll
*.pdb
*.cache