@using Wx.WEB.Core.ViewModels
@model Wx.WEB.Core.ViewModels.GridBusinessRule
@{
    ViewBag.Title = "PrStaffRoleConfig";
    var staffList = ViewBag.Staffs == null ? "{}" : ViewBag.Staffs;
    var departList = ViewBag.Departs == null ? "{}" : ViewBag.Departs;
    Layout = "~/Views/Shared/_CURDLayout.cshtml";
}

@section customScript{
    <script src="~/Scripts/common.js"></script>
    <script type="text/javascript">
    var staffListInfo = @Html.Raw(staffList);
    columns = [
        [
            { field: "CHK",title: "选定",width: 15,align: "center",checkbox: true},
            { field: "ROLENO", title: "角色ID", width: 100, align: "center" },
            { field: "ROLENAME", title: "角色名称", width: 100, align: "center" },
            { field: "UPDATESTAFFNO", title: "更新员工", width: 100, align: "center" },
            { field: "CHECKSTATE", hidden: true },
            { field: "UPDATETIME", title: "更新时间", width: 100, align: "center" , formatter: function (value) { return $.wx.tools.formatDate(value); }}
        ]
    ];

    singleSelect = false;
    selectOnCheck = true;
    checkOnSelect = true;

    startfunction = function() {

        var improve = function() {
            $.wx.easyui.info.clear();
            var ids =[];
            var selectRows = grid.datagrid('getRows');
            for (var i = 0; i < selectRows.length; i++) {
                //根据operate让某些行不可选
                if ($("input[type='checkbox']")[i + 1].checked) {
                    ids[ids.length]=selectRows[i].ROLENO;
                }
            }

            //var ids = $.Enumerable.From(grid.Rows).Select(function(m) { return  m.@Model.PrimaryKey; }).ToArray();

            if (ids.length === 0) {
                $.wx.easyui.msg.warning("请先选中行。");
                return;
            }

            var searchStaffNo = $('#SearchStaffNo').textbox('getValue');
            tradeType = "操作";
            $.wx.easyui.msg.confirm("是否操作选中的行？", null, function() {
                $.ajax({
                    type: "POST",
                    url: "@Model.PermmitUrl",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ "ids": ids ,StaffNo:searchStaffNo}),
                    success: ajaxResultHandler
                });
            });
        }
        toolbarData.push({ text: "设置", handler: improve });
    }

    customloadSuccess = function(data) {
        if (data.rows.length > 0) {
            for (var i = 0; i < data.rows.length; i++) {
                //根据operate让某些行不可选
                if (data.rows[i].CHECKSTATE == "1") {
                    $("input[type='checkbox']")[i + 1].checked = true;
                }
            }
        }
    }

</script>
}

@section searchHmtl{
    <table cellpadding="5">
        <tr>
            <td>部门:</td>
            <td>
                <select class="easyui-combobox" name="SearchDeptID" id="SearchDeptID" data-options="valueField:'DEPARTNO',textField:'DEPARTNAME',data:@departList,onSelect:function(rec){changeDepart(rec.DEPARTNO,'SearchStaffNo');},editable:false" style="width:120px;"></select>
            </td>
            <td>员工:</td>
            <td>
                <select class="easyui-combobox" name="SearchStaffNo" id="SearchStaffNo" data-options="valueField:'STAFFNO',textField:'STAFFNAME',data:@staffList,editable:false" style="width:120px;"></select>
            </td>
        </tr>
    </table>
}



